.home-container {
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.home-card {
    display: flex;
    flex-direction: column-reverse;
    border-radius: 20px;
}

.home-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 60px 10px;
}

.home-content-container h1 {
    font-size: 1em;
    text-align: center;
    margin-bottom: 15px;
    width: 260px;
}

.home-content-container p {
    color: var(--gray);
    font-size: 0.65em;
    text-align: center;
    margin-bottom: 30px;
    width: 260px;
}

.home-image-container {
    padding: 50px 15px;
}

.home-image-container svg {
    width: 100%;
    height: auto;
}


/* --- MEDIA QUERIES --- */

/* Small devices */
@media (min-width: 576px) {
    .home-container {
        padding: 15px;
        font-size: 38px;
    }

    .home-content-container h1,
    .home-content-container p {
        width: 506px;
        margin-bottom: 20px;
    }

    .home-content-container p {
        font-size: 0.55em;
    }

    .home-image-container svg {
        width: 506px;
    }
}

/* Medium devices */
@media (min-width: 768px) {
    .home-image-container {
        padding: 100px 20px;
    }

    .home-content-container {
        padding: 20px 20px 100px 20px;
    }
}

/* Large devices */
@media (min-width: 992px) {
    .home-container {
        font-size: 53px;
        padding: 40px;
    }

    .home-image-container {
        padding: 125px 20px;
    }

    .home-content-container {
        padding: 20px 20px 150px 20px;
    }

    .home-content-container h1 {
        margin-bottom: 26px;
    }
    
    .home-content-container p {
        margin-bottom: 47px;
    }

    .home-content-container h1,
    .home-content-container p {
        width: 700px;
    }
}

/* Extra Large devices */
@media (min-width: 1200px) {    
    .home-card {
        flex-direction: row;
        justify-content: space-around;
        padding: calc(((85vh - 480px) / 2) - 20px) 0;
        height: 85vh;
    }

    .home-content-container h1, 
    .home-content-container p {
        text-align: left;
    }

    .home-content-container {
        height: 480px;
        width: 700px;
        padding: 20px;
        align-items: flex-start;
        align-content: space-between;
        flex-flow: wrap;
    }

    .home-image-container {
        padding: 20px;
        display: flex;
        align-items: center;
    }

    .home-image-container svg {
        width: 100%;
    }
}

@media (min-width: 1400px) {
    .home-image-container svg {
        width: 480px;
    }
}
