@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

:root {
  --white: #FFF;
  --navbar-item: rgba(255, 255, 255, 0.5);
  --gray: #9E9E9E;
  --gray-200: #F2F2F2;
  --blue: #407BFF;
  --blue-dark: #33569B;
  --border: #E1E1E1;
  --text-black: #263238;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 0;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

.base-card {
  background-color: var(--white);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}