.btn-container {
    display: flex;
}

.btn-container button {
    border-radius: 10px 0px 0px 10px;
}

button h6 {
    color: var(--white);
    font-size: 12px;
    text-transform: uppercase;
}

.btn-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--blue-dark);
    border-radius: 0px 10px 10px 0px;
}


/* --- MEDIA QUERIES --- */

/* Small devices */
@media (min-width: 576px) {
    .btn-icon-container {
        width: 60px;
        height: 60px;
    }

    .btn-container button {
        padding: 0px 30px;
    }

    button h6 {
        font-size: 16px;
    }
}