.product-price-container {
    display: flex;
}

.product-price-container span {
    font-size: 18px;
    color: var(--gray);
    margin-top: 4px;
}

.product-price-container h3 {
    color: var(--blue);
    margin-left: 10px;
}

.product-price-container .price-decimal {
    font-size: 15px;
    color: var(--blue);
}