.nav-logo-text, 
.nav-logo-text:hover {
    color: var(--white);
}

.main-nav {
    min-height: 70px;
    padding-left: 40px;
}

.main-menu {
    font-size: 18px;
    width: 380px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.main-menu a {
    color: var(--navbar-item);
}

.main-menu a:hover {
    color: var(--white);
}

.main-menu a.active {
    color: var(--white);
    font-weight: 700;
}

/* --- MEDIA QUERIES --- */

/* Large devices */
@media (min-width: 992px) and (max-width: 1199px) {
    #dscatalog-navbar {
        display: flex;
        justify-content: flex-end;
        padding-right: 40px;
    }
}

