.product-card {
    margin-bottom: 30px;
}

.card-top-container {
    padding: 16px 0px;
    text-align: center;
    border-bottom: 1px solid var(--border);
}

.card-top-container img {
    width: 158px;
    height: 158px;
}

.card-bottom-container {
    padding: 15px 20px 30px 20px;
}

.card-bottom-container h6 {
    font-size: 18px;
    font-weight: bold;
    color: var(--product-title);
}

