ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.admin-nav-container {
    padding: 10px;
    background-color: var(--white);
}

.admin-nav-item {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    padding: 0px 10px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.015em;
    background-color: var(--gray-200);
    color: var(--gray);
}

.admin-nav-item.active {
    background: rgba(64, 123, 255, 0.3);
    color: var(--blue);
}

.admin-nav-item p {
    margin-bottom: 0;
}

/* -- MEDIA QUERIES -- */
@media (min-width: 768px) {
    .admin-nav-item {
        min-width: 220px;
    }
}

@media (min-width: 1200px) {
    ul {
        flex-direction: column;
        justify-content: flex-start;
    }

    .admin-nav-container {
        width: 300px;
        height: calc(100vh - 70px);
        padding: 0;
    }

    .admin-nav-item {
        height: 80px;
        justify-content: flex-start;
        border-radius: 0;
        border-bottom: 1px solid var(--border);
        padding: 0;
        padding-left: 40px;
        font-size: 18px;
        background-color: var(--white);
        transition: all .4s ease;
    }

    .admin-nav-item:not(.active):hover {
        background-color: var(--gray-200);
        color: var(--gray);
    }
}

